---
import Layout from "../layouts/Layout.astro";
import Carrousell from "../components/Carrousell.astro";
import Music from "../components/Music.astro";
import Shows from "../components/Shows.astro";
import { shows } from "../lib/shows";
import { socials } from "../lib/socials";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="White Palace">
  <Carrousell />
  <article>
    <h2 class="text-xl mx-6 mt-5 font-semibold">Música</h2>
    <p class="text-lg mx-6 mb-5 hidden md:block">Escuchá nuestras canciones!</p>
    <div
      class="mx-3 gap-2 flex flex-col md:grid md:grid-cols-2 md:grid-rows-2 md:place-items-center md:mx-52 md:gap-5 lg:flex lg:flex-row lg:mx-10"
    >
      {
        socials
          .filter((social) => social.type === "music")
          .map((social) => <Music redes={social} />)
      }
    </div>
  </article>
  <article class="my-5 mx-6">
    <h2 class="text-xl font-semibold">
      Próximos <br /> Shows
    </h2>
    <div class="flex flex-wrap gap-5 justify-evenly mt-6">
      {shows.map((show) => <Shows show={show} />)}
    </div>
  </article>
  <About />
  <article class="my-5 mx-6">
    <h2 class="text-xl font-semibold">Contactate!</h2>
    <h3 class="text-gray-950 text-left mt-3 italic text-sm font-semibold">
      Si querés ponerte en contacto con nosotros, podes escribirnos en las
      siguientes plataformas!
    </h3>
    <Contact />
  </article>
</Layout>
