---
import Layout from "../layouts/Layout.astro";
import Carrousell from "../components/Carrousell.astro";
import Music from "../components/Music.astro";
import Shows from "../components/Shows.astro";
import { shows } from "../lib/shows";
import { socials } from "../lib/socials";
import About from "../components/About.astro";
---

<Layout title="White Palace">
  <Carrousell />
  <article>
    <h2 class="text-xl mx-6 my-5 font-semibold">Música</h2>
    <div class="mx-3 gap-2 flex flex-col">
      {
        socials
          .filter((social) => social.type === "music")
          .map((social) => <Music redes={social} />)
      }
    </div>
  </article>
  <article class="my-5 mx-6">
    <h2 class="text-xl font-semibold">Próximos <br /> Shows</h2>
    {shows.map((show) => <Shows show={show} />)}
  </article>
  <About />
</Layout>
