---

---

<div class="mt-3">
  <a
    href="https://mail.google.com/mail/?view=cm&fs=1&to=whitepalaceok@gmail.com"
    target="_blank"
    class="flex items-center h-12 w-vh90 rounded bg-red-600"
  >
    <img
      src="/gmail.svg"
      class="h-8 w-8 justify-center ml-2"
      alt="Enviar un correo electrónico"
    />
    <p class="text-black mx-3 font-medium">Gmail</p>
  </a>
</div>
