---
import type { Socials } from "../lib/socials";

interface Props {
  redes: Socials;
}
const { redes } = Astro.props;
const { name, link, alt, image, color } = redes;
---

<a
  href={link}
  target="_blank"
  class=`flex items-center h-12 w-vh40 rounded-lg bg-gray-300 md:min-h-[20vh] md:w-full md:justify-center`
>
  <img
    src={image}
    class="h-8 w-8 justify-center ml-2 md:items-center md:h-[15vh] md:w-[15vh] md:ml-0"
    alt={alt}
  />
  <p class="text-black mx-3 font-medium md:hidden">{name}</p>
</a>
