<article>
  <h2 class="text-xl mx-6 my-5 font-semibold">Music</h2>

  <div class="mx-3 gap-2 flex flex-col">
    <a href="https://www.youtube.com/@whitepalaceofficial" target="_blank"
      ><div class="flex items-center h-12 w-vh90 rounded bg-gray-200">
        <img src="/youtube.svg" class="h-8 w-8 justify-center ml-2" alt="" />
        <p class="text-black mx-3 font-medium">Youtube</p>
      </div>
    </a>
    <a
      href="https://open.spotify.com/intl-es/artist/1HXeMcQJ7RZsIGtqVGe0fZ?si=LYsOycQQR16KdrSK7xYFJA"
      target="_blank"
      ><div class="flex items-center h-12 w-vh90 rounded bg-gray-200">
        <img src="/spotify.svg" class="h-8 w-8 justify-center ml-2" alt="" />
        <p class="text-black justify mx-3 font-medium">Spotify</p>
      </div>
    </a>
    <a
      href="https://music.apple.com/us/artist/white-palace/1601124568"
      target="_blank"
      ><div class="flex items-center h-12 w-vh90 rounded bg-gray-200">
        <img src="/applemusic.svg" class="h-8 w-8 justify-center ml-2" alt="" />
        <p class="text-black mx-3 font-medium">Apple Music</p>
      </div>
    </a>
    <a href="https://tidal.com/browse/artist/29845962" target="_blank">
      <div class="flex items-center h-12 w-vh90 rounded bg-gray-200">
        <img src="/tidal.svg" class="h-8 w-8 justify-center ml-2" alt="" />
        <p class="text-black mx-3 font-medium">Tidal</p>
      </div>
    </a>
  </div>
</article>
