---
import type { Socials } from "../lib/socials";

interface Props {
  redes: Socials;
}
const { redes } = Astro.props;
const { name, link, alt, image, type } = redes;
---

<div class="mx-3 gap-2 flex flex-col">
  <a href={link} target="_blank"
    ><div class="flex items-center h-12 w-vh90 rounded bg-gray-200">
      <img src={image} class="h-8 w-8 justify-center ml-2" alt={alt} />
      <p class="text-black mx-3 font-medium">{name}</p>
    </div>
  </a>
</div>
