---
import { socials, type Socials } from "../lib/socials";

interface Props {
  redes: Socials;
}

const { redes } = Astro.props;
const { name, link, alt, image } = redes;
---

<li class="my-3 font-medium">
  <a href={link} target="_blank">
    <img class="inline px-3" src={image} alt={alt} />
    {name}</a
  >
</li>
