---
import type { Shows } from "../lib/shows";

interface Props {
  show: Shows;
}
const { show } = Astro.props;
const { place, date, image, tickets } = show;
---

<div class="flex gap-5 justify-evenly mt-6">
  <div
    id="card"
    class="h-48 w-48 rounded bg-cover bg-center bg-no-repeat flex flex-col md:w-[40vh] md:h-[22vh] lg:w-[55vh] lg:h-[25vh]"
    style=`background-image: url(${image});`
  >
    <div class="flex-grow"></div>
    <div
      class="h-16 w-48 bottom-0 z-0 bg-[white]/30 backdrop-blur rounded flex flex-col md:w-[40vh] md:h-[7vh] lg:w-[55vh]"
    >
      <h3 class="text-left mt-3 ml-3 text-sm md:text-xl md:mt-3 md:ml-5">
        {place}
      </h3>
      <h4
        class="text-left ml-3 mb-5 text-xs md:text-base text-gray-900 md:mb-10 md:ml-5"
      >
        {date}
      </h4>
      <a class="absolute bottom-3 md:right-3" href={tickets}>
        <div
          class="bg-green-600 rounded px-2 py-1 ml-24 md:ml-auto
           mr-3 flex justify-center items-center md:py-1 md:px-6 md:mb-1"
        >
          <p class="font-semibold text-xs md:text-base">Get Tickets</p>
        </div>
      </a>
    </div>
  </div>
</div>
